



.mainDiv{
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(to bottom right, red , blue);
}
.Mainheading:hover{
   background-color: cadetblue;
}

.p1tag{
   font-size: 1.5rem;
   color: blueviolet;
}

.p2tag{
   font-size: 1.1rem;
   color: red;
}

.p3tag{
   font-size: 1.8rem;
   color: green;
}

.btnClass{
   font-size: 1.5rem;
   text-align: center;
   width: 25vw;
   height: 10vh;
   color: white;
   background-color: blue;
   border-radius: 10px;
   margin-left: 10%;
}


.keer{
   width: 35vw;
   height: 31vh;
   border: 2px solid red;
   border-radius: 21px;
   background-color: aquamarine;
   position: absolute;
   left: 50%;
   top: 40%;
}


